<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Decal.Adapter" publicKeyToken="bd1c8ce002ce221e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.9.8.3" newVersion="2.9.8.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Decal.Interop.Core" publicKeyToken="481f17d392f1fb65" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.9.8.3" newVersion="2.9.8.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Decal.Interop.Inject" publicKeyToken="481f17d392f1fb65" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.9.8.3" newVersion="2.9.8.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Decal.FileService" publicKeyToken="bd1c8ce002ce221e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.9.8.3" newVersion="2.9.8.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
